.container {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    list-style: none;
}

.sidebarItem {
    padding: 1rem;
    border: 1px solid #ccc;
}

a {
    color: blue;
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: .5rem;
    background-color: blue;
    color: white;
    border-radius: 8px;
}

.task-list {
    list-style: none;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

h5 {
    font-size: 1.4rem;
}

.done {
    color: green;
}

.not-done {
    color: red;
}

.tags {
    font-size: 1.2rem;
}

.update {
    font-size: 1.4rem;
}

.block {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.undo {
    background-color: gray;
}

.complete {
    background-color: green;
}
