{% extends 'base.html' %} {% block content %}
<h1>
  Tags
  <a href="{% url 'todo:tag_create' %}" class="button">Add tag</a>
</h1>
<ul class="task-list">
  {% if tag_list %} {% for tag in tag_list %}
  <div class="item" style="align-items: center">
      <h5>{{ tag.name }}</h5>
      <a
        href="{% url 'todo:tag_update' pk=tag.id %}"
        class="button undo"
        >Update</a
      >
      <a href="{% url 'todo:tag_delete' pk=tag.id %}" class="button undo"
        >Delete</a
      >
  </div>
  {% endfor %}
</ul>
{% else %}
<p>No tags found.</p>
{% endif %} {% endblock %}
